* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.swiper-slide {
  width: 270px !important;
  z-index: 0 !important;
}

.mySwiper {
  overflow: visible !important;
  width: 100% !important;
  z-index: 0 !important;
}
.swiper-wrapper {
  width: 100% !important;
  z-index: 0 !important;
}
.overview {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.play:hover {
  color: #009fd5;
}
.categories:hover {
  color: white !important;
}
.details {
  cursor: pointer;
}
.details:hover {
  color: #bfddf9 !important;
}
.singlePageDetails:hover {
  color: white !important;
}
.none {
  display: none;
}
.link1 {
  border-bottom: 1px solid white;
  color: white !important;
}
.mySwiper.homepage .swiper-slide{
  width: 100% !important;
}
.mySwiper.homepage .swiper-wrapper{
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80% !important;
}
.mySwiper.homepage .swiper-pagination-bullet{
  background-color: white;
  width: 16px !important;
  height: 16px !important;
}
.swiper-button-prev {
  left: -14px !important;
}
.swiper-button-next{
  right: -9px !important;
}
.swiper-button-next, .swiper-button-prev {
  height: 100% !important;
  top: 11% !important;
  width: 52px !important;
  transition: all .3s;
  color: white !important;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  background-color: rgba(0, 0, 0, .7);
}
@media only screen and (max-width: 768px) {
  .mySwiper.homepage .swiper-pagination-bullet{
 
    width: 8px !important;
    height: 8px !important;
  }
}

@media only screen and (max-width: 576px) {
  .mySwiper.homepage .swiper-pagination-bullet{
    background-color: white;
    width: 0 !important;
    height: 0 !important;
  }
}
